backend/database/migrate.sh text eol=lf
backend/database/schema.sql text eol=lf
backend/database/Dockerfile.* text eol=lf
backend/database/.dockerignore text eol=lf
backend/database/migrations/*.sql text eol=lf
backend/database/migrations/*.tsv text eol=lf
scripts/*.sh text eol=lf
